{extend name="common/index"}
{block name="main"}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                修改管理员信息
            </header>
            <div class="panel-body">
                <div class=" form">
                    <form class="cmxform form-horizontal adminex-form" id="commentForm" method="post" action="/admin/admin/doedit">
                    	<input type="hidden" name="id" value="{$data.id}">	
                        <div class="form-group ">
                            <label for="cname" class="control-label col-lg-2">用户名</label>
                            <div class="col-lg-6">
                                <input class=" form-control" id="cname" name="username" value="{$data.username}" minlength="2" type="text" required />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="cname" class="control-label col-lg-2">昵称</label>
                            <div class="col-lg-6">
                                <input class=" form-control" id="cname" name="nickname" value="{$data.nickname}" minlength="2" type="text" required />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="cemail" class="control-label col-lg-2">邮箱</label>
                            <div class="col-lg-6">
                                <input class="form-control " id="cemail" value="{$data.email}" type="email" name="email" required />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="curl" class="control-label col-lg-2">手机号</label>
                            <div class="col-lg-6">
                                <input class="form-control " id="cphone" value="{$data.phone}" type="phone" name="phone" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-6">
                                <button class="btn btn-primary" type="submit">修改</button>
                                <button class="btn btn-default" type="reset ">取消</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </section>
    </div>
</div>
{/block}