{extend name="common/index"}
{block name="main"}
<section class="panel">
    <header class="panel-heading">
        管理员列表
        <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down"></a>
            <a href="javascript:;" class="fa fa-times"></a>
         </span>
    </header>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
	            <tr>
	                <th>ID</th>
	                <th>用户名</th>
	                <th>昵称</th>
	                <th>邮箱</th>
	                <th>手机号</th>
	                <th>创建时间</th>
	                <th>操作</th>
	            </tr>
            </thead>
            <tbody>
	            <tr>
	                <td>1</td>
	                <td>123</td>
	                <td>haha</td>
	                <td>1222@qq.com</td>
	                <td>13640328039</td>
	                <td>1125523512</td>
	                <td><a href="#">删除</a></td>
	            </tr>

            </tbody>
        </table>
    </div>
</section>
{/block}