<div class="left-side sticky-left-side">

    <!--logo and iconic logo start-->
    <div class="logo">
        <a href="index.html"><img src="/static/admin/images/logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
        <a href="index.html"><img src="/static/admin/images/logo_icon.png" alt=""></a>
    </div>
    <!--logo and iconic logo end-->

    <div class="left-side-inner">

        <!-- visible to small devices only -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media logged-user">
                <img alt="" src="/static/admin/images/photos/user-avatar.png" class="media-object">
                <div class="media-body">
                    <h4><a href="#">John Doe</a></h4>
                    <span>"Hello There..."</span>
                </div>
            </div>

            <h5 class="left-nav-title">Account Information</h5>
            <ul class="nav nav-pills nav-stacked custom-nav">
              <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
              <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
              <li><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul>
        </div>

        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="active">
                <a href="/admin/index">
                    <i class="fa fa-home"></i> 
                    <span>首页</span>
                </a>
            </li>
            <li class="menu-list">
                <a href="">
                    <i class="fa fa-laptop"></i> 
                    <span>管理员管理</span>
                </a>
                <ul class="sub-menu-list">
                    <li><a href="/admin/admin/index"> 管理员列表 </a></li>
                    <li><a href="/admin/admin/add"> 添加管理员 </a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href="">
                    <i class="fa fa-laptop"></i> 
                    <span>用户管理</span>
                </a>
                <ul class="sub-menu-list">
                    <li><a href="blank_page.html"> 用户列表 </a></li>
                    <li><a href="blank_page.html"> 添加用户 </a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href="">
                    <i class="fa fa-laptop"></i> 
                    <span>文章管理</span>
                </a>
                <ul class="sub-menu-list">
                    <li><a href="blank_page.html"> 文章列表 </a></li>
                    <li><a href="blank_page.html"> 添加文章 </a></li>
                </ul>
            </li>
            <li class="menu-list">
                <a href="">
                    <i class="fa fa-laptop"></i> 
                    <span>设置</span>
                </a>
                <ul class="sub-menu-list">
                    <li><a href="blank_page.html"> 设置 </a></li>
                    <li><a href="blank_page.html"> 其他 </a></li>
                </ul>
            </li>
        </ul>
        <!--sidebar nav end-->

    </div>
</div>